body {
    font-family: "Nunito", sans-serif;      
    font-style: normal;
    margin: 0;
    padding: 0;  
    background-color: #9ea68f;  
}
.contacto {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color:#0a0b17;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #9ea68f;
}

.contacto-formulario {
    display: flex;
    flex-direction: column;
}

.contacto-formulario label {
    margin: 10px;
    color: #9ea68f;
}

.contacto-formulario input,
.contacto-formulario textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color:#9ea68f;
}

.contacto-formulario button {
    margin-top: 10px;   
    padding: 0.8rem;
    background-color: #9ea68f;
    color: #0a0b17;
    border: 20px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.contacto-formulario button:hover {
    background-color:#b6c0a4;
}