body {
    font-family: "Nunito", sans-serif;      
    font-style: normal;
    margin: 0;
    padding: 0;       
}
.contacto {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color:#1b303b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #e6eef2;
}

.contacto-formulario {
    display: flex;
    flex-direction: column;
}

.contacto-formulario label {
    margin: 10px;
    color: #e6eef2;
}

.contacto-formulario input,
.contacto-formulario textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color:#e6eef2;
}

.contacto-formulario button {
    margin-top: 10px;   
    padding: 0.8rem;
    background-color: #e6eef2;
    color: #1b303b;
    border: 20px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.contacto-formulario button:hover {
    background-color:#e6eef2;
}