/* General styles */
.nav-principal {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #232323;
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
}

.nav-principal a {
    text-decoration: none;
    color: #cdcdcd;
    transition: color 0.3s ease;
}

.nav-icons a:hover {
    color: #00C6A7;
}

.logo {    
    line-height: 0;
    margin-right: auto;
    font-size: 25px;  
}

.logo img {
    max-height: 40px;
    max-width: 100px;
}

.nav-icons {
    display: flex;    
    justify-content: flex-end;
    font-size: 30px;
}

.nav-icons ul {
    display: flex;
    padding: 0;
}

.nav-icons li {
    list-style: none;
    padding: 0 20px;
}

/* Estilo general para la sección del carrito */
.nav-icons .carrito {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

/* Ocultar la vista previa del carrito por defecto */
.nav-icons .carrito .carrito-vista-previa {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 300px;
}

/* Mostrar la vista previa del carrito al pasar el mouse sobre el carrito */
.nav-icons .carrito:hover .carrito-vista-previa {
    display: block;
}

/* Estilo del texto dentro de la vista previa del carrito */
.nav-icons .carrito .carrito-vista-previa p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

/* Mobile styles (pantallas menores de 768px) */
@media only screen and (max-width: 767px) { 
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    
    .logo {
        font-size: 22px;  /* Ajuste menor en el tamaño de la fuente */
    }

    .logo img {
        max-height: 35px; /* Ajuste menor en la altura */
        max-width: 90px;  /* Ajuste menor en el ancho */
    }
  
    .nav-icons {
        width: auto;
        justify-content: flex-end;
        font-size: 25px; /* Ajuste menor en el tamaño de los iconos */
    }

    /* Ocultar la vista previa del carrito en móviles */
    .nav-icons .carrito .carrito-vista-previa {
        display: none !important;
    }

    .nav-icons ul {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        background: #232323;
        width: 100%;
        text-align: center;
    }

    .nav-principal input {
        display: block;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        color: #cdcdcd;
        font-size: 25px;
        cursor: pointer;
    }

    .nav-principal input:checked ~ .nav-icons ul {
        display: flex;
    }
  
    .nav-icons li {
        padding: 10px 0;
        width: 100%;
    }
}