/* Estilos globales */
body {
    font-family: "Nunito", sans-serif;      
    font-style: normal;
    margin: 0;
    padding: 0;  
    background-color: #9ea68f;  
}
/*Banner*/
.Ofertas-productos {
    margin: 50px 0px 50px 200px;
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Ofertas-productos .producto {
    position: relative;
    width: 40%;   
    transition: width 0.5s;
    overflow: hidden;
    cursor: pointer;
    background-color: #0a0b17;
    border-radius: 20px;  

}

.Ofertas-productos img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    transition: transform 0.5s, opacity 0.5s;    
}

.Ofertas-productos .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9ea68f;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 20px 0;
    font-size: 20px;   
    border-radius: 10px;
}

.Ofertas-productos .producto:hover img {    
    opacity: 0.10; 
    transform: scale(1.2);     
}

.Ofertas-productos .producto:hover .overlay {
    opacity: 1;
}

.Ofertas-productos .producto {
    text-align: center;
}



/*Secciones */
.ropa,.zapatos, .audifonos, .relojes {    
    background-color:#0a0b17;
    padding: 5px;
}

.ropa, .zapatos, .audifonos, .relojes, h1 {
    color: #9ea68f;
    font-size: 50px;
    padding: 10px;
    margin: 2px;
    text-shadow: 0 10px 20px #ffffff1f;
}

.ropa-productos, .zapatos-productos, .audifonos-productos, .relojes-productos {    
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}

/*Producto*/
.producto-card {
    background-color: #9ea68f;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    text-align: center;
    position: relative;
    color: #0a0b17;
    box-shadow: 0 10px 20px#ffffff1f;
    transition: transform 0.3s ease;
}

.producto-card:hover {
    transform: scale(1.05);
}

.producto-numero {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    color:  #0a0b17;
    opacity: 0.1;
}

.producto-categoria {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    color: #0a0b17;
}

.producto-imge img {
    width: 100%;
    max-width: 160px;
    margin-bottom: 10px;
    transform: rotate(-15deg);
    transition: transform 0.3s ease;
}

.producto-card:hover .product-image img {
    transform: rotate(0deg);
}

.producto-precio {
    font-size: 18px;
    background-color: #0a0b17;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.producto-nombre {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


footer {
    background-color: #0a0b17;
    color: #9ea68f;
    text-align: center;
    padding: 1em 0;
}

/* Diseño responsivo */
@media only screen and (max-width: 768px) {
    .selector {
        flex-direction: column;
    }

    .selector ul {
        flex-direction: column;
    }

    .selector ul li {
        margin-bottom: 20px;
    }

    .selector ul li a {
        padding: 15px;
        font-size: 16px;
    }

    .selector ul li a img {
        max-width: 40px;
    }
}